{% extends "base.html" %}
{% block title %}Empleados{% endblock %}
{% block content %}
<div class="container py-3">
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="m-0">Empleados</h2>
        <a href="/empleados/nuevo/" class="btn btn-primary">+ Nuevo</a>
      </div>

      <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
          <thead class="table-dark">
            <tr>
              <th>Nombre</th>
              <th>DUI</th>
              <th>Salario</th>
              <th>Activo</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>

          <tbody>
            {% for i in items %}
            <tr>
              <td>{{ i.nombre }}</td>
              <td>{{ i.dui }}</td>
              <td>${{ i.salario_mensual }}</td>
              <td>{% if i.activo %}Sí{% else %}No{% endif %}</td>
              <td class="text-center">
                <a href="/empleados/{{ i.pk }}/editar/" class="btn btn-sm btn-warning">Editar</a>

                <form method="post" action="/empleados/{{ i.pk }}/eliminar/" class="d-inline">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-danger" onclick="return confirm('¿Eliminar?');">Eliminar</button>
                </form>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center text-muted">No hay empleados</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
